:root {
  --table-heading-color: #130F57;
  --table-heading-bg: #3729f548;
  --table-heading-border: #3729f553;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.application {
  height: 100svh;
  width: 100vw;

  display: grid;
  grid-template-columns: 160px calc(100% - 160px);
  grid-template-rows: 1fr 10fr;
}

nav {
  grid-column: 1/2;
  grid-row: 1/-1;
}

main {
  grid-column: 2/3;
  grid-row: 2/-1;
  background: rgba(243, 243, 245, .3);
  border-radius: 12px 0 0 0;
  border: .5px solid rgba(0, 0, 0, 0.116);
  box-shadow: 0 0 5px 0 #3729f511;
}